#container-add {
	display: grid;
	grid-template-columns: 10% 1fr;
	align-items: center;
	padding: 0 5%;
}

#container-add h1 {
	font-size: 1.5rem;
	text-align: right;
}

#form-add {
	grid-column: 1 / 3;
}

#form-add > * {
	width: 100%;
	box-sizing: border-box;
}

@media screen and (min-width: 1081px) {
	#container-add {
		width: 70%;
	}

	#form-add {
		display: flex;
		align-items: center;
	}

	#form-add input:nth-child(even) {
		margin: 0 3px;
	}

	#form-add input[type=submit] {
		width: 30%;
	}
}
