@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/* Colors */
:root {
	--eminence: #6C3082;
	--graphite-gray: #4B4E53;
	--old-wood: #F0EEE4;
	--medium-red: #ac0000;
}

/* Resettings */
body {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Fira Sans', sans-serif;
	transition: 0.2s;
	color: var(--graphite-gray);
	box-sizing: border-box;
}

button, input {
	all: unset;
	border-radius: 3px;
}

input:not(input[type=submit]) {
	border: 1px solid var(--graphite-gray);
}

a {
	text-decoration: none;
}
